{% extends 'base.html' %}

{% block content %}

    <br/><br/>
    <h1>world News</h1>
    <br/><br/>

    <div class="row justify-content-center">
        {% for tags in headlines %}
        <div class="col-sm-4 p-2"> <!-- not "col-sm-3" -->
            <div class="card h-100">
                <img src={{ photos[loop.index0] }} class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">{{ tags }}</p>
                  <a href="#" class="btn btn-primary">Visit website</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}